{% extends "layout.html" %}
{% load static %}
{% block body %}

 <!-- Set your background image for this header on the line below. -->
 <header class="intro-header" style="background-image: url('{% static 'img/22917.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Haqqımızda</h1>
                    
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>
            <p>Bura Harry Potter Azərbaycan səhifəsidi. Siz burada sehr dünyası haqqında müxtəlif və bir birindən fərqli məlumatlar əldə edə bilərsiniz. Harry Potter dünyası böyük və maraqlı dünya olduğunu bildiyimizdən fikirləşdik ki, Azərbaycanda da kifayət qədər potterbaşlar var. Bu səbəbdən Harry Potter Azərbaycan saytı yaratmağa qərar verdik. Saytda  qeydiyyatdan keçməklə müxtəlif məqalələr yazaraq, fanların daha çox məlumata sahib olmasına kömək edə bilərsiz. Saytımız hal hazırda demo versiyadadır, və bu saytın daha çox inkişaf etməsi üçün müxtəlif bloqlar paylaşa bilərsiniz. </p>
        </div>
    </div>
</div>

<hr>
{% endblock body %}